<div class="container bg-background">
  <mat-card class="container__view bg-gray-transparent">
    <div
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
      class="container__view__cards"
    >
      <div fxFlex="30%" fxFlex.xs="100%" class="card__one">
        <mat-card>
          <app-create-technical></app-create-technical>
        </mat-card>
      </div>
      <div fxFlex="70%" fxFlex.xs="100%" class="card__two">
        <mat-card>
          <app-list-technical></app-list-technical>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
