@media (min-width:430px){
    .card__two{
    padding-right: 0 !important;
  }
  }
  @media (max-width:720px){
    .card__one{
    padding-right: 0 !important;
  }
  .card__two{
    padding-right: 0 !important;
  }
  }
  