<div fxLayout="row wrap" fxLayoutGap="16px grid" class="container__view__cards">
  <div fxFlex="100%" fxFlex.xs="100%" class="card__one">
    <img src="/assets/images/ICON_LOGIN.png" id="images" />
  </div>
  <div fxFlex="51%" fxFlex.xs="100%" class="card__one">
    <mat-form-field class="input__form" appearance="fill">
      <mat-label class="input">Semana del año</mat-label>
      <input type="number" autocomplete="off" matInput placeholder="Escriba la semana del año" [(ngModel)]="session.week" name="name"/>
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>
  </div>
  <div fxFlex="51%" fxFlex.xs="100%" class="card__one">
    <mat-form-field class="input__form" appearance="fill">
      <mat-label class="input">Cédula</mat-label>
      <input type="password" autocomplete="off" matInput placeholder="Escriba su cédula" [(ngModel)]="session.cc" name="cc"/>
      <mat-icon matSuffix>lock_open</mat-icon>
    </mat-form-field>
  </div>
  <div fxFlex="51%" fxFlex.xs="100%" class="card__one">
       <button mat-button class="button" [routerLink]="route" (click)="loggear()" *ngIf="state">LOGIN</button>
       <button mat-button class="button" [routerLink]="route" (click)="cont()" *ngIf="!state">LOGIN</button>
  </div>
</div>
