
#images{
    width: 150px;
}
.card__one{
    display: flex;
    justify-content: center;
}
.input{
    color: black;
    font-family: 'italic';
    font-size: 17px;
}
::placeholder{
    color: black;
}
.button{
    color: white;
    background-color: black;
}
