.title{
    color: white;
    font-family: 'italic';
    justify-content: center;
    border-radius: 10px;
    margin-top: 5px;
}
.container__expansion{
    margin-top: 5px;
    width: 100%;
}
#title{
    color: red;
}