/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family:  "italic";
}

.bg-degrade-gold {
  background: linear-gradient(
    0deg,
    rgba(210, 178, 2, 1) 8%,
    rgba(236, 208, 62, 1) 48%,
    rgba(210, 178, 2, 1) 95%
  );
}
.bg-gray {
  background: #929496;
}
.bg-gray-transparent {
  background-color: rgba(146, 148, 150, 0.5);
}

.bg-background-general{
  background-image: url("/assets/images/HANDY_MAN_BACKGROUND.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bg-background{
    background-image: url("/assets/images/TECHNICIANS_LOGIN_BACKGROUND.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;   

}
.container{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display:  flex;
}
.container__view{
  justify-content: center;
  align-items: center;
  min-height: 90% 100%;
  width: 90%;
}
.container__view__cards{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.input__form{
  width: 100%;
}
@media (min-width:430px) {
  .card__two{
      padding: 0 0px 16px 0 !important; 
  }
}
@media (max-width:430px) {
  .card__two{
      padding: 0 0px 16px 0 !important; 
  }
  .card__one{
      padding: 0 0px 16px 0 !important; 
  }
}
.mat-header-row{
  position: sticky;
  top: 0;
  z-index: 1;
}
#swal2-html-container{
  color: black;
  font-style: italic;
  
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(0,0,0,.10) !important;
}