.title{
    color: white;
    font-family: 'italic';
    justify-content: center;
    border-radius: 10px;
}
.container__card{
    margin-top: 20px;
}
.container__label{
    color: black;
}
.icon{
    margin-left: 5px;
}
.title-secondary{
    color: white;
    font-family: 'italic';
    justify-content: center;
    border-radius: 10px;
}
.buttons{
    justify-content: center;
    display: flex;
}
.button{
    margin: 0px 5px;
}